
<%= form_tag invite_group_path do %>
  <div class="grid gap-6 mb-6 flex flex-col">
    <div class="">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-600">Invite(Email)</label>
        <%= text_field_tag :email, nil, class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
    </div>
    <%= submit_tag "Invite", turbo_frame: "invitation_prompt", class: "w-20 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-20 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>


<%= turbo_frame_tag "invitation_prompt" do %>
  <% render "invitation_prompt" %>
<% end %>
