<div class="w-full">
  <%= link_to 'Back', :back, class: "w-20 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800", data: {turbo: false} %>
  <div class="relative p-4 w-full max-w-4xl h-full md:h-auto bg-gray-600">
    <%= render 'form' %>
  </div>
</div>
